<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.-</key>
    <array>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>softhyphen</string>
      <string>braceright</string>
    </array>
    <key>public.kern1..</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>exclam</string>
      <string>bracketright</string>
    </array>
    <key>public.kern1.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern1.bracketin</key>
    <array>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.dash</key>
    <array>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.parenin</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.parenout</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>exclamdown</string>
    </array>
    <key>public.kern2.-</key>
    <array>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>softhyphen</string>
      <string>braceleft</string>
    </array>
    <key>public.kern2..</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>exclam</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern2.bracketin</key>
    <array>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.dash</key>
    <array>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>colon</string>
    </array>
    <key>public.kern2.parenin</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.parenout</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>semicolon</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>exclamdown</string>
    </array>
  </dict>
</plist>
