<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.DisplayStrings</key>
		<array>
			<string>/ca-tamil</string>
			<string>/su-tamil</string>
			<string>/aytham-tamil</string>
			<string>/a-sinhala/aa-sinhala/ae-sinhala/aee-sinhala/ai-sinhala/au-sinhala/e-sinhala/ee-sinhala/fa-sinhala/i-sinhala/ii-sinhala/ja-sinhala/ka-sinhala/la-sinhala/ma-sinhala/o-sinhala/oo-sinhala/pa-sinhala/ra-sinhala/sha-sinhala/ssa-sinhala/ta-sinhala/u-sinhala/uu-sinhala/va-sinhala/ya-sinhala</string>
			<string>/a-sinhala/aa-sinhala/eMatra-sinhala/ai-sinhala/au-sinhala/e-sinhala/ee-sinhala/fa-sinhala/i-sinhala/ra-sinhala/ii-sinhala/ja-sinhala/ka-sinhala/la-sinhala/ma-sinhala/o-sinhala/oo-sinhala/pa-sinhala/ra-sinhala/sha-sinhala/ssa-sinhala/ta-sinhala/u-sinhala/uu-sinhala/va-sinhala/ya-sinhala 


</string>
			<string>/a-sinhala/aa-sinhala/ai-sinhala/au-sinhala/e-sinhala/ee-sinhala/fa-sinhala/i-sinhala/ii-sinhala/ja-sinhala/ka-sinhala/la-sinhala/ma-sinhala/o-sinhala/oo-sinhala/pa-sinhala/ra-sinhala/sha-sinhala/ssa-sinhala/ta-sinhala/u-sinhala/uu-sinhala/va-sinhala/ya-sinhala/ya-tamil/aaMatra-sinhala/aaeMatra-sinhala/aeMatra-sinhala/aiMatra-sinhala/anusvaraya-sinhala ./auMatra-sinhala/eMatra-sinhala/eeMatra-sinhala/iMatra-sinhala/iiMatra-sinhala/lVocalicMatra-sinhala/oMatra-sinhala/ooMatra-sinhala/rVocalicMatra-sinhala/uMatra-sinhala/uuMatra-sinhala/virama-sinhala/visargaya-sinhala</string>
			<string>/ha-tamil</string>
			<string>/ha-sinhala</string>
			<string>/ooMatra-tamil</string>
			<string>/eeMatra-tamil/aiMatra-tamil/oMatra-tamil/ooMatra-tamil/lVocalicMatra-sinhala/auMatra-tamil</string>
			<string>/oMatra-sinhala/ooMatra-sinhala</string>
			<string>/virama-sinhala/eeMatra-sinhala</string>
			<string>/lVocalicMatra-sinhala</string>
		</array>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.font.license</key>
		<string>GPL</string>
		<key>com.schriftgestaltung.font.versionString</key>
		<string>Version 2.00</string>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>FDB844D3-6113-4F20-A391-626B83580871</string>
		<key>com.schriftgestaltung.glyphOrder</key>
		<false/>
		<key>com.schriftgestaltung.useNiceNames</key>
		<false/>
		<key>com.schriftgestaltung.weightValue</key>
		<integer>50</integer>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.3.3.dev0
1545110780.6 fontinfo.plist
1545110780.6 layercontents.plist
1545110780.6 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>a-sinhala</string>
			<string>aa-sinhala</string>
			<string>ae-sinhala</string>
			<string>aee-sinhala</string>
			<string>ai-sinhala</string>
			<string>au-sinhala</string>
			<string>ba-sinhala</string>
			<string>bha-sinhala</string>
			<string>ca-sinhala</string>
			<string>cha-sinhala</string>
			<string>da-sinhala</string>
			<string>dda-sinhala</string>
			<string>ddha-sinhala</string>
			<string>dha-sinhala</string>
			<string>e-sinhala</string>
			<string>ee-sinhala</string>
			<string>fa-sinhala</string>
			<string>ga-sinhala</string>
			<string>gha-sinhala</string>
			<string>ha-sinhala</string>
			<string>i-sinhala</string>
			<string>ii-sinhala</string>
			<string>ja-sinhala</string>
			<string>jha-sinhala</string>
			<string>jnya-sinhala</string>
			<string>ka-sinhala</string>
			<string>kha-sinhala</string>
			<string>lVocalic-sinhala</string>
			<string>la-sinhala</string>
			<string>llVocalic-sinhala</string>
			<string>lla-sinhala</string>
			<string>ma-sinhala</string>
			<string>mba-sinhala</string>
			<string>na-sinhala</string>
			<string>nda-sinhala</string>
			<string>nga-sinhala</string>
			<string>nna-sinhala</string>
			<string>nndda-sinhala</string>
			<string>nnga-sinhala</string>
			<string>nya-sinhala</string>
			<string>nyja-sinhala</string>
			<string>o-sinhala</string>
			<string>oo-sinhala</string>
			<string>pa-sinhala</string>
			<string>pha-sinhala</string>
			<string>rVocalic-sinhala</string>
			<string>ra-sinhala</string>
			<string>rrVocalic-sinhala</string>
			<string>sa-sinhala</string>
			<string>sha-sinhala</string>
			<string>ssa-sinhala</string>
			<string>ta-sinhala</string>
			<string>tha-sinhala</string>
			<string>tta-sinhala</string>
			<string>ttha-sinhala</string>
			<string>u-sinhala</string>
			<string>uu-sinhala</string>
			<string>va-sinhala</string>
			<string>ya-sinhala</string>
			<string>a-tamil</string>
			<string>aa-tamil</string>
			<string>i-tamil</string>
			<string>ii-tamil</string>
			<string>u-tamil</string>
			<string>uu-tamil</string>
			<string>e-tamil</string>
			<string>ee-tamil</string>
			<string>ai-tamil</string>
			<string>o-tamil</string>
			<string>oo-tamil</string>
			<string>au-tamil</string>
			<string>ka-tamil</string>
			<string>nga-tamil</string>
			<string>ca-tamil</string>
			<string>ja-tamil</string>
			<string>nya-tamil</string>
			<string>tta-tamil</string>
			<string>nna-tamil</string>
			<string>ta-tamil</string>
			<string>na-tamil</string>
			<string>nnna-tamil</string>
			<string>pa-tamil</string>
			<string>ma-tamil</string>
			<string>ya-tamil</string>
			<string>ra-tamil</string>
			<string>rra-tamil</string>
			<string>la-tamil</string>
			<string>lla-tamil</string>
			<string>llla-tamil</string>
			<string>va-tamil</string>
			<string>sha-tamil</string>
			<string>ssa-tamil</string>
			<string>sa-tamil</string>
			<string>ha-tamil</string>
			<string>om-tamil</string>
			<string>aytham-tamil</string>
			<string>ka_pulli_ssa_iMatra-tamil</string>
			<string>ka_pulli_ssa_iiMatra-tamil</string>
			<string>ka_pulli_ssa_pulli-tamil</string>
			<string>sha_pulli_ra_iiMatra-tamil</string>
			<string>ten-tamil</string>
			<string>onehundred-tamil</string>
			<string>onethousand-tamil</string>
			<string>zero-tamil</string>
			<string>one-tamil</string>
			<string>two-tamil</string>
			<string>three-tamil</string>
			<string>four-tamil</string>
			<string>five-tamil</string>
			<string>six-tamil</string>
			<string>seven-tamil</string>
			<string>eight-tamil</string>
			<string>nine-tamil</string>
			<string>period</string>
			<string>kunddaliya-sinhala</string>
			<string>space</string>
			<string>nbspace</string>
			<string>zerowidthjoiner</string>
			<string>zerowidthnonjoiner</string>
			<string>CR</string>
			<string>.notdef</string>
			<string>rupee-tamil</string>
			<string>divisionslash</string>
			<string>dottedCircle</string>
			<string>day-tamil</string>
			<string>month-tamil</string>
			<string>year-tamil</string>
			<string>debit-tamil</string>
			<string>credit-tamil</string>
			<string>asabove-tamil</string>
			<string>number-tamil</string>
			<string>aaMatra-tamil</string>
			<string>iMatra-tamil</string>
			<string>iiMatra-tamil</string>
			<string>uMatra-tamil</string>
			<string>uuMatra-tamil</string>
			<string>eMatra-tamil</string>
			<string>eeMatra-tamil</string>
			<string>aiMatra-tamil</string>
			<string>oMatra-tamil</string>
			<string>ooMatra-tamil</string>
			<string>auMatra-tamil</string>
			<string>pulli-tamil</string>
			<string>aulengthmark-tamil</string>
			<string>anusvara-tamil</string>
			<string>aaMatra-sinhala</string>
			<string>aaeMatra-sinhala</string>
			<string>aeMatra-sinhala</string>
			<string>aiMatra-sinhala</string>
			<string>anusvaraya-sinhala</string>
			<string>auMatra-sinhala</string>
			<string>eMatra-sinhala</string>
			<string>eeMatra-sinhala</string>
			<string>iMatra-sinhala</string>
			<string>iiMatra-sinhala</string>
			<string>lVocalicMatra-sinhala</string>
			<string>llVocalicMatra-sinhala</string>
			<string>oMatra-sinhala</string>
			<string>ooMatra-sinhala</string>
			<string>rVocalicMatra-sinhala</string>
			<string>rrVocalicMatra-sinhala</string>
			<string>uMatra-sinhala</string>
			<string>uuMatra-sinhala</string>
			<string>virama-sinhala</string>
			<string>visargaya-sinhala</string>
			<string>sinMatraOo.pstf</string>
			<string>su-tamil</string>
			<string>mooniak</string>
		</array>
	</dict>
</plist>
