<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>CR</key>
		<string>C_R_.glif</string>
		<key>a-sinhala</key>
		<string>a-sinhala.glif</string>
		<key>a-tamil</key>
		<string>a-tamil.glif</string>
		<key>aa-sinhala</key>
		<string>aa-sinhala.glif</string>
		<key>aa-tamil</key>
		<string>aa-tamil.glif</string>
		<key>aaMatra-sinhala</key>
		<string>aaM_atra-sinhala.glif</string>
		<key>aaMatra-tamil</key>
		<string>aaM_atra-tamil.glif</string>
		<key>aaeMatra-sinhala</key>
		<string>aaeM_atra-sinhala.glif</string>
		<key>ae-sinhala</key>
		<string>ae-sinhala.glif</string>
		<key>aeMatra-sinhala</key>
		<string>aeM_atra-sinhala.glif</string>
		<key>aee-sinhala</key>
		<string>aee-sinhala.glif</string>
		<key>ai-sinhala</key>
		<string>ai-sinhala.glif</string>
		<key>ai-tamil</key>
		<string>ai-tamil.glif</string>
		<key>aiMatra-sinhala</key>
		<string>aiM_atra-sinhala.glif</string>
		<key>aiMatra-tamil</key>
		<string>aiM_atra-tamil.glif</string>
		<key>anusvara-tamil</key>
		<string>anusvara-tamil.glif</string>
		<key>anusvaraya-sinhala</key>
		<string>anusvaraya-sinhala.glif</string>
		<key>asabove-tamil</key>
		<string>asabove-tamil.glif</string>
		<key>au-sinhala</key>
		<string>au-sinhala.glif</string>
		<key>au-tamil</key>
		<string>au-tamil.glif</string>
		<key>auMatra-sinhala</key>
		<string>auM_atra-sinhala.glif</string>
		<key>auMatra-tamil</key>
		<string>auM_atra-tamil.glif</string>
		<key>aulengthmark-tamil</key>
		<string>aulengthmark-tamil.glif</string>
		<key>aytham-tamil</key>
		<string>aytham-tamil.glif</string>
		<key>ba-sinhala</key>
		<string>ba-sinhala.glif</string>
		<key>bha-sinhala</key>
		<string>bha-sinhala.glif</string>
		<key>ca-sinhala</key>
		<string>ca-sinhala.glif</string>
		<key>ca-tamil</key>
		<string>ca-tamil.glif</string>
		<key>cha-sinhala</key>
		<string>cha-sinhala.glif</string>
		<key>credit-tamil</key>
		<string>credit-tamil.glif</string>
		<key>da-sinhala</key>
		<string>da-sinhala.glif</string>
		<key>day-tamil</key>
		<string>day-tamil.glif</string>
		<key>dda-sinhala</key>
		<string>dda-sinhala.glif</string>
		<key>ddha-sinhala</key>
		<string>ddha-sinhala.glif</string>
		<key>debit-tamil</key>
		<string>debit-tamil.glif</string>
		<key>dha-sinhala</key>
		<string>dha-sinhala.glif</string>
		<key>divisionslash</key>
		<string>divisionslash.glif</string>
		<key>dottedCircle</key>
		<string>dottedC_ircle.glif</string>
		<key>e-sinhala</key>
		<string>e-sinhala.glif</string>
		<key>e-tamil</key>
		<string>e-tamil.glif</string>
		<key>eMatra-sinhala</key>
		<string>eM_atra-sinhala.glif</string>
		<key>eMatra-tamil</key>
		<string>eM_atra-tamil.glif</string>
		<key>ee-sinhala</key>
		<string>ee-sinhala.glif</string>
		<key>ee-tamil</key>
		<string>ee-tamil.glif</string>
		<key>eeMatra-sinhala</key>
		<string>eeM_atra-sinhala.glif</string>
		<key>eeMatra-tamil</key>
		<string>eeM_atra-tamil.glif</string>
		<key>eight-tamil</key>
		<string>eight-tamil.glif</string>
		<key>fa-sinhala</key>
		<string>fa-sinhala.glif</string>
		<key>five-tamil</key>
		<string>five-tamil.glif</string>
		<key>four-tamil</key>
		<string>four-tamil.glif</string>
		<key>ga-sinhala</key>
		<string>ga-sinhala.glif</string>
		<key>gha-sinhala</key>
		<string>gha-sinhala.glif</string>
		<key>ha-sinhala</key>
		<string>ha-sinhala.glif</string>
		<key>ha-tamil</key>
		<string>ha-tamil.glif</string>
		<key>i-sinhala</key>
		<string>i-sinhala.glif</string>
		<key>i-tamil</key>
		<string>i-tamil.glif</string>
		<key>iMatra-sinhala</key>
		<string>iM_atra-sinhala.glif</string>
		<key>iMatra-tamil</key>
		<string>iM_atra-tamil.glif</string>
		<key>ii-sinhala</key>
		<string>ii-sinhala.glif</string>
		<key>ii-tamil</key>
		<string>ii-tamil.glif</string>
		<key>iiMatra-sinhala</key>
		<string>iiM_atra-sinhala.glif</string>
		<key>iiMatra-tamil</key>
		<string>iiM_atra-tamil.glif</string>
		<key>ja-sinhala</key>
		<string>ja-sinhala.glif</string>
		<key>ja-tamil</key>
		<string>ja-tamil.glif</string>
		<key>jha-sinhala</key>
		<string>jha-sinhala.glif</string>
		<key>jnya-sinhala</key>
		<string>jnya-sinhala.glif</string>
		<key>ka-sinhala</key>
		<string>ka-sinhala.glif</string>
		<key>ka-tamil</key>
		<string>ka-tamil.glif</string>
		<key>ka_pulli_ssa_iMatra-tamil</key>
		<string>ka_pulli_ssa_iM_atra-tamil.glif</string>
		<key>ka_pulli_ssa_iiMatra-tamil</key>
		<string>ka_pulli_ssa_iiM_atra-tamil.glif</string>
		<key>ka_pulli_ssa_pulli-tamil</key>
		<string>ka_pulli_ssa_pulli-tamil.glif</string>
		<key>kha-sinhala</key>
		<string>kha-sinhala.glif</string>
		<key>kunddaliya-sinhala</key>
		<string>kunddaliya-sinhala.glif</string>
		<key>lVocalic-sinhala</key>
		<string>lV_ocalic-sinhala.glif</string>
		<key>lVocalicMatra-sinhala</key>
		<string>lV_ocalicM_atra-sinhala.glif</string>
		<key>la-sinhala</key>
		<string>la-sinhala.glif</string>
		<key>la-tamil</key>
		<string>la-tamil.glif</string>
		<key>llVocalic-sinhala</key>
		<string>llV_ocalic-sinhala.glif</string>
		<key>llVocalicMatra-sinhala</key>
		<string>llV_ocalicM_atra-sinhala.glif</string>
		<key>lla-sinhala</key>
		<string>lla-sinhala.glif</string>
		<key>lla-tamil</key>
		<string>lla-tamil.glif</string>
		<key>llla-tamil</key>
		<string>llla-tamil.glif</string>
		<key>ma-sinhala</key>
		<string>ma-sinhala.glif</string>
		<key>ma-tamil</key>
		<string>ma-tamil.glif</string>
		<key>mba-sinhala</key>
		<string>mba-sinhala.glif</string>
		<key>month-tamil</key>
		<string>month-tamil.glif</string>
		<key>mooniak</key>
		<string>mooniak.glif</string>
		<key>na-sinhala</key>
		<string>na-sinhala.glif</string>
		<key>na-tamil</key>
		<string>na-tamil.glif</string>
		<key>nbspace</key>
		<string>nbspace.glif</string>
		<key>nda-sinhala</key>
		<string>nda-sinhala.glif</string>
		<key>nga-sinhala</key>
		<string>nga-sinhala.glif</string>
		<key>nga-tamil</key>
		<string>nga-tamil.glif</string>
		<key>nine-tamil</key>
		<string>nine-tamil.glif</string>
		<key>nna-sinhala</key>
		<string>nna-sinhala.glif</string>
		<key>nna-tamil</key>
		<string>nna-tamil.glif</string>
		<key>nndda-sinhala</key>
		<string>nndda-sinhala.glif</string>
		<key>nnga-sinhala</key>
		<string>nnga-sinhala.glif</string>
		<key>nnna-tamil</key>
		<string>nnna-tamil.glif</string>
		<key>number-tamil</key>
		<string>number-tamil.glif</string>
		<key>nya-sinhala</key>
		<string>nya-sinhala.glif</string>
		<key>nya-tamil</key>
		<string>nya-tamil.glif</string>
		<key>nyja-sinhala</key>
		<string>nyja-sinhala.glif</string>
		<key>o-sinhala</key>
		<string>o-sinhala.glif</string>
		<key>o-tamil</key>
		<string>o-tamil.glif</string>
		<key>oMatra-sinhala</key>
		<string>oM_atra-sinhala.glif</string>
		<key>oMatra-tamil</key>
		<string>oM_atra-tamil.glif</string>
		<key>om-tamil</key>
		<string>om-tamil.glif</string>
		<key>one-tamil</key>
		<string>one-tamil.glif</string>
		<key>onehundred-tamil</key>
		<string>onehundred-tamil.glif</string>
		<key>onethousand-tamil</key>
		<string>onethousand-tamil.glif</string>
		<key>oo-sinhala</key>
		<string>oo-sinhala.glif</string>
		<key>oo-tamil</key>
		<string>oo-tamil.glif</string>
		<key>ooMatra-sinhala</key>
		<string>ooM_atra-sinhala.glif</string>
		<key>ooMatra-tamil</key>
		<string>ooM_atra-tamil.glif</string>
		<key>pa-sinhala</key>
		<string>pa-sinhala.glif</string>
		<key>pa-tamil</key>
		<string>pa-tamil.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>pha-sinhala</key>
		<string>pha-sinhala.glif</string>
		<key>pulli-tamil</key>
		<string>pulli-tamil.glif</string>
		<key>rVocalic-sinhala</key>
		<string>rV_ocalic-sinhala.glif</string>
		<key>rVocalicMatra-sinhala</key>
		<string>rV_ocalicM_atra-sinhala.glif</string>
		<key>ra-sinhala</key>
		<string>ra-sinhala.glif</string>
		<key>ra-tamil</key>
		<string>ra-tamil.glif</string>
		<key>rrVocalic-sinhala</key>
		<string>rrV_ocalic-sinhala.glif</string>
		<key>rrVocalicMatra-sinhala</key>
		<string>rrV_ocalicM_atra-sinhala.glif</string>
		<key>rra-tamil</key>
		<string>rra-tamil.glif</string>
		<key>rupee-tamil</key>
		<string>rupee-tamil.glif</string>
		<key>sa-sinhala</key>
		<string>sa-sinhala.glif</string>
		<key>sa-tamil</key>
		<string>sa-tamil.glif</string>
		<key>seven-tamil</key>
		<string>seven-tamil.glif</string>
		<key>sha-sinhala</key>
		<string>sha-sinhala.glif</string>
		<key>sha-tamil</key>
		<string>sha-tamil.glif</string>
		<key>sha_pulli_ra_iiMatra-tamil</key>
		<string>sha_pulli_ra_iiM_atra-tamil.glif</string>
		<key>sinMatraOo.pstf</key>
		<string>sinM_atraO_o.pstf.glif</string>
		<key>six-tamil</key>
		<string>six-tamil.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>ssa-sinhala</key>
		<string>ssa-sinhala.glif</string>
		<key>ssa-tamil</key>
		<string>ssa-tamil.glif</string>
		<key>su-tamil</key>
		<string>su-tamil.glif</string>
		<key>ta-sinhala</key>
		<string>ta-sinhala.glif</string>
		<key>ta-tamil</key>
		<string>ta-tamil.glif</string>
		<key>ten-tamil</key>
		<string>ten-tamil.glif</string>
		<key>tha-sinhala</key>
		<string>tha-sinhala.glif</string>
		<key>three-tamil</key>
		<string>three-tamil.glif</string>
		<key>tta-sinhala</key>
		<string>tta-sinhala.glif</string>
		<key>tta-tamil</key>
		<string>tta-tamil.glif</string>
		<key>ttha-sinhala</key>
		<string>ttha-sinhala.glif</string>
		<key>two-tamil</key>
		<string>two-tamil.glif</string>
		<key>u-sinhala</key>
		<string>u-sinhala.glif</string>
		<key>u-tamil</key>
		<string>u-tamil.glif</string>
		<key>uMatra-sinhala</key>
		<string>uM_atra-sinhala.glif</string>
		<key>uMatra-tamil</key>
		<string>uM_atra-tamil.glif</string>
		<key>uu-sinhala</key>
		<string>uu-sinhala.glif</string>
		<key>uu-tamil</key>
		<string>uu-tamil.glif</string>
		<key>uuMatra-sinhala</key>
		<string>uuM_atra-sinhala.glif</string>
		<key>uuMatra-tamil</key>
		<string>uuM_atra-tamil.glif</string>
		<key>va-sinhala</key>
		<string>va-sinhala.glif</string>
		<key>va-tamil</key>
		<string>va-tamil.glif</string>
		<key>virama-sinhala</key>
		<string>virama-sinhala.glif</string>
		<key>visargaya-sinhala</key>
		<string>visargaya-sinhala.glif</string>
		<key>ya-sinhala</key>
		<string>ya-sinhala.glif</string>
		<key>ya-tamil</key>
		<string>ya-tamil.glif</string>
		<key>year-tamil</key>
		<string>year-tamil.glif</string>
		<key>zero-tamil</key>
		<string>zero-tamil.glif</string>
		<key>zerowidthjoiner</key>
		<string>zerowidthjoiner.glif</string>
		<key>zerowidthnonjoiner</key>
		<string>zerowidthnonjoiner.glif</string>
	</dict>
</plist>
