
@font-face {
    font-family:"FMAbhaya x";
    src:url("FM-Abhaya.woff2") format("woff2"),url("FM-Abhaya.woff") format("woff"),url("FM-Abhaya.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        